extends layout 
 
block content 
  h1= title 
 
  form(id='motelssForm', action="/resource/motelss", method="POST") 
    div.form-group 
        label.motelssAttr(for='motelRatings') motelss motelRatings 
        input#motelRatings(type='String', name='motelRatings') 
    div.form-group 
        label.motelssAttr(for='motelCost') motelss motelCost 
        input#motelCost(type='Number', name='motelCost') 
    div.form-group 
        label.motelssAttr(for='motelFacility') motelss motelFacility 
        input#motelFacility(type='String', name='motelFacility') 
    input(type="submit") 
 
  script. 
    document.forms['motelssForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 