body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.motelssAttr { 
  background-color: black; 
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  width: 210px;
  margin: 15px;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 7px;
}